<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @especificacao_ativo.nome %>
</p>

<%= link_to 'Edit', edit_especificacao_ativo_path(@especificacao_ativo) %> |
<%= link_to 'Back', especificacao_ativos_path %>
