<h1><%= @ativo.especificacao_ativo %></h1>
<p>Número patrimonial: <%= @ativo.numero_patrimonial.present? ? @ativo.numero_patrimonial : "Sem número" %></p>
<p>Unidade: <%= @ativo.unidade.present? ? @ativo.unidade : "Sem unidade" %></p>
